@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/pt-sans-2" );
@import url("https://fonts.cdnfonts.com/css/seaweed-script");
@import url('https://fonts.cdnfonts.com/css/sansation');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .polygon{
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 100% calc(100% - 10vw));
    }
}
@layer base{
    .hero{
        @apply bg-white
    }
}
.hero-text{
    font-family: 'Itim', cursive;
}
.news-btn{
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Space Grotesk', sans-serif;
}
.shadow-card{
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 16%), 0 2px 5px 0 rgb(0 0 0 / 26%);
}
.wavy-bg {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background: #facc15;
    overflow: hidden;
}
.menu-card{
    background: linear-gradient(#00000017,#0303039a);
}
.laspag_small_navbar{
    font-family: 'itim', 'sans-serif';
}  
  